.pane-group {
  background-color: #2D2D2D !important;
}

.pane-sm, .sidebar {
  background-color: #2D2D2D !important;
}

.media-body {
  color: white;
}

.list-group-item {
  border-bottom: 1px solid #1f1f1f;
}

.pane {
  background-color: #383838;
  border-left: none !important;
}

.form-control {
  background-color: #383838 !important;
  border: 1px solid #1f1f1f !important;
}

.message-bar-input {
  width: 500px;
  margin-left:2%;
  bottom: 0px;
  margin-bottom: 8px;
  margin-top: 5px;
  border-radius: 5%;
}

.message-bar {
  width: 100%;
  position: fixed;
  bottom: 0px;
}